/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 20px; 
}

.box-container {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 600px; /* Adjust as needed */
  width: 100%;
  margin: 0 auto;
}

.search-container {
  margin-top: 20px;
}
